# Analysis of FBI Crime and Officer Data

Megane Crenshaw

## Introduction

With the progress that has been made in technology and machine learning in the past decade, data science has become a very popular and in demand profession. This tutorial aims to give an introduction to data science by exploring and analyzing data from the FBI. 
The data we will be using comes from the Uniform Crime Reporting (UCR) program. In this program, law enforcement agencies across the nation provide data to the FBI, who then publishes it. For more information on this program you can visit https://www.fbi.gov/services/cjis/ucr. We will be using data from 2007 to 2017.

For this tutorial you will be using the pandas library to read and organize the data, and matplotlib.pyplot to graph the data. For exploring and analyzing the data we will also be using SciKit-Learn.

## Collect Data

This is the first step in the data lifecycle. Here we just gather the data through methods like web scraping. Fortunately, the FBI provides Excel tables that we can download. To download these tables yourself, visit https://ucr.fbi.gov/crime-in-the-u.s/, click on the year you want data for, and then navigate to the violent crimes tables. We will be using table 4 for crime data(the data is organized differently for 2016, so for 2016 we will be using table 2). Just use the pandas read_excel function to read in the excel files.

In [1]:
import pandas
import re
import matplotlib.pyplot

In [2]:
crime_2017 = pandas.read_excel("2017 Table 4.xls")
officer_2017 = pandas.read_excel("2017 Table 71.xls")

crime_2016 = pandas.read_excel("2016 Table 2.xls")
officer_2016 = pandas.read_excel("2016 Table 24.xls")

crime_2015 = pandas.read_excel("2015 Table 4.xls")
officer_2015 = pandas.read_excel("2015 Table 71.xls")

crime_2014 = pandas.read_excel("2014 Table 4.xls")
officer_2014 = pandas.read_excel("2014 Table 71.xls")

crime_2013 = pandas.read_excel("2013 Table 4.xls")
officer_2013 = pandas.read_excel("2013 Table 71.xls")

crime_2012 = pandas.read_excel("2012 Table 4.xls")
officer_2012 = pandas.read_excel("2012 Table 71.xls")

crime_2011 = pandas.read_excel("2011 Table 4.xls")
officer_2011 = pandas.read_excel("2011 Table 71.xls")

crime_2010 = pandas.read_excel("2010 Table 4.xls")
officer_2010 = pandas.read_excel("2010 Table 71.xls")

crime_2009 = pandas.read_excel("2009 Table 4.xls")
officer_2009 = pandas.read_excel("2009 Table 71.xls")

crime_2008 = pandas.read_excel("2008 Table 4.xls")
officer_2008 = pandas.read_excel("2008 Table 71.xls")

crime_2007 = pandas.read_excel("2007 Table 4.xls")
officer_2007 = pandas.read_excel("2007 Table 71.xls")

crime_2017.head(10)

,Table 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Crime in the United States1,NaN,NaN,NaN,,,,,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by Region, Geographic Division, and State, 201...",NaN,NaN,NaN,NaN,NaN,,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Area,Year,Population2,Violent crime3,NaN,Murder and \nnonnegligent \nmanslaughter,NaN,Rape\n(revised definition)4,NaN,Robbery,...,NaN,Burglary,NaN,Larceny-theft,NaN,Motor vehicle theft,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,,"Rate per \n100,000",NaN,"Rate per \n100,000",NaN,"Rate per \n100,000",NaN,...,"Rate per \n100,000",NaN,"Rate per \n100,000",NaN,"Rate per \n100,000",NaN,"Rate per \n100,000",NaN,NaN,
4,"United States Total5, 6",2016,323405935,1285606,397.5,17413,5.4,132414,40.9,332797,...,2451.6,1516405,468.9,5644835,1745.4,767290,237.3,NaN,,NaN
5,NaN,2017,325719178,1283220,394,17284,5.3,135755,41.7,319356,...,2362.2,1401840,430.4,5519107,1694.4,773139,237.4,NaN,NaN,NaN
6,NaN,Percent change,NaN,-0.2,-0.9,-0.7,-1.4,2.5,1.8,-4,...,-3.6,-7.6,-8.2,-2.2,-2.9,0.8,*,NaN,NaN,NaN
7,Northeast,2016,56359360,178406,316.6,1977,3.5,16763,29.7,52958,...,1610.7,142092,252.1,708772,1257.6,56917,101,,NaN,NaN
8,NaN,2017,56470581,172042,304.7,1957,3.5,16863,29.9,48714,...,1558.6,127908,226.5,695447,1231.5,56799,100.6,NaN,NaN,NaN
9,NaN,Percent change,NaN,-3.6,-3.8,-1,-1.2,0.6,0.4,-8,...,-3.2,-10,-10.2,-1.9,-2.1,-0.2,-0.4,NaN,,NaN

## Data Processing

So now we have all our data, but as you can see it is a bit messy. In the data processing step of the lifecycle, we organize and "fix" the data so that it is readable and easy to use in the next steps, visualization and analysis. 
For this data, to "fix" it we will rename the columns, and change the index to be a MultiIndex. In addition, we will only be looking at data per region, so we can drop all the rows for individual states.

In [3]:
crime_2017_fixed = crime_2017.drop(["Unnamed: 21", "Unnamed: 22", "Unnamed: 23"], axis = 1)
crime_2017_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2017_fixed = crime_2017_fixed.drop([0,1,2,3,202,203,204,205,206,207,208,209])


states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming", "District of Columbia", "Puerto Rico"]

to_delete = []

for index, row in crime_2017_fixed.iterrows():
    area_name = str(row["Area"]).strip()
    area_name = re.sub(r'\d+', '', area_name)
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2017_fixed = crime_2017_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                  ['2016', '2017', 'Percent Change']],
                                 names=['Area', 'Year'])

crime_2017_fixed.index = idx

crime_2017_fixed = crime_2017_fixed.drop(["Area", "Year"], axis = 1)
crime_2017_fixed.head(10)

                                   Population Violent Crime  \
Area                Year
United States Total 2016            323405935       1285606
                    2017            325719178       1283220
                    Percent Change        NaN          -0.2
Northeast           2016             56359360        178406
                    2017             56470581        172042
                    Percent Change        NaN          -3.6
New England         2016             14757573         41841
                    2017             14810001         40519
                    Percent Change                     -3.2
Middle Atlantic     2016             41601787        136565

                                   Violent Crime Rate per 100,000  \
Area                Year
United States Total 2016                                    397.5
                    2017                                      394
                    Percent Change                           -0.9
Northeast           2016                                    316.6
                    2017                                    304.7
                    Percent Change                           -3.8
New England         2016                                    283.5
                    2017                                    273.6
                    Percent Change                           -3.5
Middle Atlantic     2016                                    328.3

                                   Murder and Nonnegligent Manslaughter  \
Area                Year
United States Total 2016                                          17413
                    2017                                          17284
                    Percent Change                                 -0.7
Northeast           2016                                           1977
                    2017                                           1957
                    Percent Change                                   -1
New England         2016                                            296
                    2017                                            346
                    Percent Change                                 16.9
Middle Atlantic     2016                                           1681

                                   Muderer Rate Rape Revised Definition  \
Area                Year
United States Total 2016                    5.4                  132414
                    2017                    5.3                  135755
                    Percent Change         -1.4                     2.5
Northeast           2016                    3.5                   16763
                    2017                    3.5                   16863
                    Percent Change         -1.2                     0.6
New England         2016                      2                    4569
                    2017                    2.3                    4833
                    Percent Change         16.5                     5.8
Middle Atlantic     2016                      4                   12194

                                   Rate (Revised) Rate Robbery Robbery Rate  \
Area                Year
United States Total 2016                          40.9  332797        102.9
                    2017                          41.7  319356           98
                    Percent Change                 1.8      -4         -4.7
Northeast           2016                          29.7   52958           94
                    2017                          29.9   48714         86.3
                    Percent Change                 0.4      -8         -8.2
New England         2016                            31    9394         63.7
                    2017                          32.6    8918         60.2
                    Percent Change                 5.4    -5.1         -5.4
Middle Atlantic     2016                          29.3   43564        104.7

                                   Aggravated Assault Aggravated Assault Rate  \
Area                Year
United States Total 2016                       802982                   248.3
                    2017                       810825                   248.9
                    Percent Change                  1                     0.3
Northeast           2016                       106708                   189.3
                    2017                       104508                   185.1
                    Percent Change               -2.1                    -2.3
New England         2016                        27582                   186.9
                    2017                        26422                   178.4
                    Percent Change               -4.2                    -4.5
Middle Atlantic     2016                        79126                   190.2

                                   Property Crime Property Crime Rate  \
Area                Year
United States Total 2016                  7928530              2451.6
                    2017                  7694086              2362.2
                    Percent Change             -3                -3.6
Northeast           2016                   907781              1610.7
                    2017                   880154              1558.6
                    Percent Change             -3                -3.2
New England         2016                   242151              1640.9
                    2017                   228293              1541.5
                    Percent Change           -5.7                -6.1
Middle Atlantic     2016                   665630                1600

                                   Burglary Burglary Rate Larceny-Theft  \
Area                Year
United States Total 2016            1516405         468.9       5644835
                    2017            1401840         430.4       5519107
                    Percent Change     -7.6          -8.2          -2.2
Northeast           2016             142092         252.1        708772
                    2017             127908         226.5        695447
                    Percent Change      -10         -10.2          -1.9
New England         2016              41835         283.5        182176
                    2017              36958         249.5        173101
                    Percent Change    -11.7           -12            -5
Middle Atlantic     2016             100257           241        526596

                                   Larceny-Theft Rate Motor Vehicle Theft  \
Area                Year
United States Total 2016                       1745.4              767290
                    2017                       1694.4              773139
                    Percent Change               -2.9                 0.8
Northeast           2016                       1257.6               56917
                    2017                       1231.5               56799
                    Percent Change               -2.1                -0.2
New England         2016                       1234.5               18140
                    2017                       1168.8               18234
                    Percent Change               -5.3                 0.5
Middle Atlantic     2016                       1265.8               38777

                                   Motor Vehicle Theft Rate
Area                Year
United States Total 2016                              237.3
                    2017                              237.4
                    Percent Change                        *
Northeast           2016                                101
                    2017                              100.6
                    Percent Change                     -0.4
New England         2016                              122.9
                    2017                              123.1
                    Percent Change                      0.2
Middle Atlantic     2016                               93.2

The data looks much better and much more readable. Now we do this for the rest of the tables.

In [4]:
crime_2016_fixed = crime_2016.drop(["Unnamed: 9", "Unnamed: 10"], axis = 1)
crime_2016_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2016_fixed = crime_2016_fixed.drop([0,1,2,3,202,203,204,205,206,207,208,209,210,211,212])

to_delete = []

for index, row in crime_2016_fixed.iterrows():
    area_name = str(row["Area"]).strip()
    area_name = re.sub(r'\d+', '', area_name)
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2016_fixed = crime_2016_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2015', '2016', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2016_fixed.index = idx

crime_2016_fixed = crime_2016_fixed.drop(["Area", "Year"], axis = 1)

In [9]:
crime_2015_fixed = crime_2015.drop(["Unnamed: 23", "Unnamed: 24", "Unnamed: 25", "Unnamed: 9", "Unnamed: 10"], axis = 1)
crime_2015_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2015_fixed = crime_2015_fixed.drop([0,1,2,3,202,203,204,205,206,207,208,209,210,211,212, 213])

to_delete = []

for index, row in crime_2015_fixed.iterrows():
    area_name = str(row["Area"]).replace(",", "").strip()
    area_name = re.sub(r'\d+', '', area_name).strip()
   
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2015_fixed = crime_2015_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2014', '2015', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2015_fixed.index = idx

crime_2015_fixed = crime_2015_fixed.drop(["Area", "Year"], axis = 1)

In [10]:
crime_2014_fixed = crime_2014.drop(["Unnamed: 23", "Unnamed: 24", "Unnamed: 25", "Unnamed: 9", "Unnamed: 10"], axis = 1)
crime_2014_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2014_fixed = crime_2014_fixed.drop([0,1,2,3,4,203,204,205,206,207,208,209,210,211,212, 213])

to_delete = []

for index, row in crime_2014_fixed.iterrows():
    area_name = str(row["Area"]).replace(",", "").strip()
    area_name = re.sub(r'\d+', '', area_name).strip()
   
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2014_fixed = crime_2014_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2013', '2014', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2014_fixed.index = idx

crime_2014_fixed = crime_2014_fixed.drop(["Area", "Year"], axis = 1)

In [11]:
crime_2013_fixed = crime_2013.drop(["Unnamed: 23", "Unnamed: 24", "Unnamed: 25", "Unnamed: 9", "Unnamed: 10"], axis = 1)
crime_2013_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2013_fixed = crime_2013_fixed.drop([0,1,2,3,4,203,204,205,206,207,208,209,210,211,212,213])

to_delete = []

for index, row in crime_2013_fixed.iterrows():
    area_name = str(row["Area"]).replace(",", "").strip()
    area_name = re.sub(r'\d+', '', area_name).strip()
   
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2013_fixed = crime_2013_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2012', '2013', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2013_fixed.index = idx

crime_2013_fixed = crime_2013_fixed.drop(["Area", "Year"], axis = 1)

In [13]:
crime_2012_fixed = crime_2012.drop(["Unnamed: 21"], axis = 1)
crime_2012_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2012_fixed = crime_2012_fixed.drop([0,1,2,3,4,203,204,205,206,207,208,209])

to_delete = []

for index, row in crime_2012_fixed.iterrows():
    area_name = str(row["Area"]).replace(",", "").strip()
    area_name = re.sub(r'\d+', '', area_name).strip()
   
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2012_fixed = crime_2012_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2011', '2012', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2012_fixed.index = idx

crime_2012_fixed = crime_2012_fixed.drop(["Area", "Year"], axis = 1)

In [14]:
crime_2011_fixed = crime_2011.drop(["Unnamed: 21", "Unnamed: 22"], axis = 1)
crime_2011_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2011_fixed = crime_2011_fixed.drop([0,1,2,3,202,203,204,205,206,207,208])

to_delete = []

for index, row in crime_2011_fixed.iterrows():
    area_name = str(row["Area"]).replace(",", "").strip()
    area_name = re.sub(r'\d+', '', area_name).strip()
    
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2011_fixed = crime_2011_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2010', '2011', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2011_fixed.index = idx

crime_2011_fixed = crime_2011_fixed.drop(["Area", "Year"], axis = 1)

In [15]:
crime_2010_fixed = crime_2010.drop(["Unnamed: 21", "Unnamed: 22", "Unnamed: 23"], axis = 1)
crime_2010_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2010_fixed = crime_2010_fixed.drop([0,1,2,3,199,200,201,202,203,204])

to_delete = []

for index, row in crime_2010_fixed.iterrows():
    area_name = str(row["Area"]).replace(",", "").strip()
    area_name = re.sub(r'\d+', '', area_name).strip()
   
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2010_fixed = crime_2010_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2009', '2010', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2010_fixed.index = idx

crime_2010_fixed = crime_2010_fixed.drop(["Area", "Year"], axis = 1)

In [16]:
crime_2009_fixed = crime_2009.drop(["Unnamed: 21", "Unnamed: 22", "Unnamed: 23"], axis = 1)
crime_2009_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2009_fixed = crime_2009_fixed.drop([0,1,2,3,4,203,204,205,206,207,208,209,210,211,212,213,214,215])

to_delete = []

for index, row in crime_2009_fixed.iterrows():
    area_name = str(row["Area"]).replace(",", "").strip()
    area_name = re.sub(r'\d+', '', area_name).strip()
   
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2009_fixed = crime_2009_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2008', '2009', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2009_fixed.index = idx

crime_2009_fixed = crime_2009_fixed.drop(["Area", "Year"], axis = 1)

In [17]:
crime_2008_fixed = crime_2008.drop(["Unnamed: 21", "Unnamed: 22", "Unnamed: 23"], axis = 1)
crime_2008_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2008_fixed = crime_2008_fixed.drop([0,1,2,3,4,203,204,205,206,207,208,209,210])

to_delete = []

for index, row in crime_2008_fixed.iterrows():
    area_name = str(row["Area"]).replace(",", "").strip()
    area_name = re.sub(r'\d+', '', area_name).strip()
   
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2008_fixed = crime_2008_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2007', '2008', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2008_fixed.index = idx

crime_2008_fixed = crime_2008_fixed.drop(["Area", "Year"], axis = 1)

In [18]:
crime_2007_fixed = crime_2007.drop(["Unnamed: 21", "Unnamed: 22", "Unnamed: 23"], axis = 1)
crime_2007_fixed.columns = ["Area", "Year", "Population", "Violent Crime", "Violent Crime Rate per 100,000", 
                      "Murder and Nonnegligent Manslaughter", "Muderer Rate", "Rape Revised Definition", 
                      "Rate (Revised) Rate", "Robbery", "Robbery Rate", "Aggravated Assault", "Aggravated Assault Rate",
                      "Property Crime", "Property Crime Rate", "Burglary", "Burglary Rate", "Larceny-Theft", 
                      "Larceny-Theft Rate", "Motor Vehicle Theft", "Motor Vehicle Theft Rate"]

crime_2007_fixed = crime_2007_fixed.drop([0,1,2,3,4,203,204,205,206,207,208,209,210,211,212,213,214,215,216])

to_delete = []

for index, row in crime_2007_fixed.iterrows():
    area_name = str(row["Area"]).replace(",", "").strip()
    area_name = re.sub(r'\d+', '', area_name).strip()
   
    if area_name in states:
        to_delete.extend([index,index+1, index+2])
    
crime_2007_fixed = crime_2007_fixed.drop(to_delete)  

idx = pandas.MultiIndex.from_product([['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
                                   'Midwest', 'East North Central', 'West North Central', 'South', 
                                   'South Atlantic', 'East South Central', 
                                   'West South Central', 'West', 'Mountain', 'Pacific'],
                                      ['2006', '2007', 'Percent Change']],
                                     names=['Area', 'Year'])

crime_2007_fixed.index = idx

crime_2007_fixed = crime_2007_fixed.drop(["Area", "Year"], axis = 1)

Our data is much cleaner now; however, we are not done. In the visualization step we want to plot things over time, so it would be helpful to reorganize the table to be per region instead of per year to make plotting easier.

In [22]:
total_crime = pandas.DataFrame([crime_2017_fixed.iloc[1], crime_2016_fixed.iloc[1], crime_2015_fixed.iloc[1],
                                crime_2014_fixed.iloc[1], crime_2013_fixed.iloc[1], crime_2012_fixed.iloc[1], 
                                crime_2011_fixed.iloc[1], crime_2010_fixed.iloc[1], crime_2009_fixed.iloc[1], 
                                crime_2008_fixed.iloc[1], crime_2007_fixed.iloc[1]])
years = ["2017","2016","2015","2014","2013","2012","2011","2010","2009","2008","2007"]
total_crime.insert(loc=0, column="Year", value=years)
total_crime.index=[0,1,2,3,4,5,6,7,8,9,10]
total_crime

,Year,Population,Violent Crime,"Violent Crime Rate per 100,000",Murder and Nonnegligent Manslaughter,Muderer Rate,Rape Revised Definition,Rate (Revised) Rate,Robbery,Robbery Rate,Aggravated Assault,Aggravated Assault Rate,Property Crime,Property Crime Rate,Burglary,Burglary Rate,Larceny-Theft,Larceny-Theft Rate,Motor Vehicle Theft,Motor Vehicle Theft Rate
0,2017,325719178,1283220,394.0,17284,5.3,135755,41.7,319356,98.0,810825,248.9,7694086,2362.2,1401840,430.4,5519107,1694.4,773139,237.4
1,2016,323127513,1283058,397.1,17250,5.3,130603,40.4,332198,102.8,803007,248.5,7919035,2450.7,1515096,468.9,5638455,1745.0,765484,236.9
2,2015,321418820,1231566,383.2,15696,4.9,124047,38.6,327374,101.9,764449,237.8,7993631,2487.0,1579527,491.4,5706346,1775.4,707758,220.2
3,2014,318857056,1197987,375.7,14249,4.5,116645,36.6,325802,102.2,741291,232.5,8277829,2596.1,1729806,542.5,5858496,1837.3,689527,216.2
4,2013,316128839,1163146,367.9,14196,4.5,108612,34.4,345031,109.1,724149,229.1,8632512,2730.7,1928465,610.0,6004453,1899.4,699594,221.3
5,2012,313914040,1214464,386.9,14827,4.7,84376,26.9,354522,112.9,760739,242.3,8975438,2859.2,2103787,670.2,6150598,1959.3,721053,229.7
6,2011,311591917,1203564,386.3,14612,4.7,83425,26.8,354396,113.7,751131,241.1,9063173,2908.7,2188005,702.2,6159795,1976.9,715373,229.6
7,2010,308745538,1246248,403.6,14748,4.8,84767,27.5,367832,119.1,778901,252.3,9082887,2941.9,2159878,699.6,6185867,2003.5,737142,238.8
8,2009,307006550,1318398,429.4,15241,5.0,88097,28.7,408217,133.0,806843,262.8,9320971,3036.1,2199125,716.3,6327230,2060.9,794616,258.8
9,2008,304059724,1382012,454.5,16272,5.4,89000,29.3,441855,145.3,834885,274.6,9767915,3212.5,2222196,730.8,6588873,2167.0,956846,314.7
10,2007,301621157,1408337,466.9,16929,5.6,90427,30.0,445125,147.6,855856,283.8,9843481,3263.5,2179140,722.5,6568572,2177.8,1095769,363.3

Now we do this for the rest of the regions.

In [19]:
#['United States Total', 'Northeast', 'New England', 'Middle Atlantic', 
#                                   'Midwest', 'East North Central', 'West North Central', 'South', 
#                                   'South Atlantic', 'East South Central', 
#                                   'West South Central', 'West', 'Mountain', 'Pacific'],
northeast = pandas.DataFrame([crime_2017_fixed.iloc[4], crime_2016_fixed.iloc[4], crime_2015_fixed.iloc[4],
                                crime_2014_fixed.iloc[4], crime_2013_fixed.iloc[4], crime_2012_fixed.iloc[4], 
                                crime_2011_fixed.iloc[4], crime_2010_fixed.iloc[4], crime_2009_fixed.iloc[4], 
                                crime_2008_fixed.iloc[4], crime_2007_fixed.iloc[4]])
years = ["2017","2016","2015","2014","2013","2012","2011","2010","2009","2008","2007"]
northeast.insert(loc=0, column="Year", value=years)
northeast.index=[0,1,2,3,4,5,6,7,8,9,10]

new_england = pandas.DataFrame([crime_2017_fixed.iloc[7], crime_2016_fixed.iloc[7], crime_2015_fixed.iloc[7],
                                crime_2014_fixed.iloc[7], crime_2013_fixed.iloc[7], crime_2012_fixed.iloc[7], 
                                crime_2011_fixed.iloc[7], crime_2010_fixed.iloc[7], crime_2009_fixed.iloc[7], 
                                crime_2008_fixed.iloc[7], crime_2007_fixed.iloc[7]])
years = ["2017","2016","2015","2014","2013","2012","2011","2010","2009","2008","2007"]
new_england.insert(loc=0, column="Year", value=years)
new_england.index=[0,1,2,3,4,5,6,7,8,9,10]

,Year,Population,Violent Crime,"Violent Crime Rate per 100,000",Murder and Nonnegligent Manslaughter,Muderer Rate,Rape Revised Definition,Rate (Revised) Rate,Robbery,Robbery Rate,Aggravated Assault,Aggravated Assault Rate,Property Crime,Property Crime Rate,Burglary,Burglary Rate,Larceny-Theft,Larceny-Theft Rate,Motor Vehicle Theft,Motor Vehicle Theft Rate
0,2017,14810001,40519,273.6,346,2.3,4833,32.6,8918,60.2,26422,178.4,228293,1541.5,36958,249.5,173101,1168.8,18234,123.1
1,2016,14735525,41598,282.3,292,2.0,4505,30.6,9407,63.8,27394,185.9,243769,1654.3,42095,285.7,182985,1241.8,18689,126.8
2,2015,14727584,42089,285.8,321,2.2,4544,30.9,9616,65.3,27608,187.5,256342,1740.6,46009,312.4,192654,1308.1,17679,120.0
3,2014,14680722,42158,287.2,286,1.9,4512,30.7,10635,72.4,26725,182.0,279285,1902.4,52968,360.8,208214,1418.3,18103,123.3
4,2013,14618806,43740,299.2,310,2.1,5376,36.8,11977,81.9,27475,187.9,307315,2102.2,63966,437.6,223584,1529.4,19765,135.2
5,2012,14562704,44769,307.4,349,2.4,3791,26.0,11959,82.1,28670,196.9,326010,2238.7,72070,494.9,233178,1601.2,20762,142.6
6,2011,14492360,45549,314.3,378,2.6,3559,24.6,12119,83.6,29493,203.5,332919,2297.2,76422,527.3,234161,1615.8,22336,154.1
7,2010,14444865,47945,331.9,413,2.9,3557,24.6,12146,84.1,31829,220.3,335198,2320.5,75226,520.8,237014,1640.8,22958,158.9
8,2009,14429720,47814,331.4,353,2.4,3539,24.5,13168,91.3,30754,213.1,336832,2334.3,70595,489.2,242040,1677.4,24197,167.7
9,2008,14303542,46682,326.4,380,2.7,3580,25.0,12696,88.8,30026,209.9,347477,2429.3,71125,497.3,248304,1736.0,28048,196.1
10,2007,14264185,43334,303.8,357,2.5,3395,23.8,12225,85.7,27357,191.8,337359,2365.1,70828,496.5,235947,1654.1,30584,214.4

## Visualization